<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form action="/" method="POST">
      <p>
        <b>Student Code</b>
        <input type="text" placeholder="Enter Student Code" name="s_code" required>
      </p>
      <p>
        <b>Password</b>
        <input type="password" placeholder="Enter Password" name="s_psw" required>
      </p>
      <div>
        <button type="submit">Go to the Report</button>
      </div>
    </form>
  </body>
</html>